.body{
    display: grid;
    width: 40%;
    height: 300px;
    margin-left: 5%;
    margin-top: 25px;
    background-color: whitesmoke;
}
.text{
 margin-top: 20px !important;
 margin-left: 20px !important;
}
.button{
    width: 120px;
    margin-top: 20px;
    margin-left: 20px !important;
    background-color: white !important;
}